

.carousel .carousel-item {
	width: 100%;
}

#staggered-test li {
	opacity: 0;
}

.collapsible-body {
	text-align: justify;
	background: white;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}
@media screen and (min-device-width: 567px) {
	li a {
	padding:10px;
	display:block;
	text-decoration: none;

	color:#ddd;
	position:relative;
}


li a:after{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

li a:before{
	content:'';
	width:0%;
	transition:all 0.3s ease;
	left:50%;
}

	}
	label {
    font-size: 14px;
	}
	.side-nav{
width:50%;
font-size:12px;}
.side-nav a {

    font-size: 12px;}

@media screen and (min-device-width: 100px) and (max-device-width:
	600px) {
	.apellidos{
display:none}
.side-nav{
width:70%;
font-size:8px;}
.side-nav a {

    font-size: 8px;}
	label {
    font-size: 10px;
	}
	.nigga {
		font-size: 12px;
	}
	.collapsible-header {
		line-height: 2rem;
	}
	.collapsible-body {
		font-size: 12px;
		
	}
	html{
	font-size:10px;
}
.material-icons.md-36 {
	font-size: 24px;
}
.collapsible-body {
		font-size: 11px;
		 padding-top:15px;
    	padding-bottom: 12px;
		padding-left: 0.1em;
		padding-right:0.1em;
	}
#blink,#blink2,#blink3,#blink4,#blink5,#blink6,#blink7{
	
	font-size:10px;
}
.tabs .tab a {
    
    font-size: 10px;

}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
   
    padding-left: 25px;
    
}
.ponenciasMiercoles1,.ponenciasMiercoles2{
	font-size:9px;
}
	h6{
	font-size:10px
	}
	.btn{
	text-overflow: ellipsis;
	height:25px;
	line-height: 5px;
	width:75%;
	font-size: 8px;
	}
	.tabs .tab {
		width: 15%;
		padding: 0;
		height: 36px;
		min-width: 50px;
	}
	.tabs .tab a {
		text-transform: lowercase;
		padding: 0;
		min-width: 50px;
	}
}

.luz.on{
  color: #0099ff;/*color del texto al cambiar*/
  text-shadow:
     1px  1px rgba(255, 255, 255, .1),
    -1px -1px rgba(0, 0, 0, .88),
     0px  0px 20px #0099ff;/*color de la luz del texto*/
}
.luz{
  font-size:13px;/*tamaño de la fuente*/
  color: #000000;
  text-shadow:
     1px  1px rgba(255, 255, 255, .1),
    -1px -1px rgba(0, 0, 0, .88);
}

.collapsible li.active .i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.neon {
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px 3px blue, 0 0 35px blue, 0 0 20px yellow;
}

.collapsible-header, .collapsible-body{
	border: 1px solid white;
	/* Color del borde, debe ser más oscuro que fondo */
	background: white; /* Fondo */
	border-radius: 6px; /* Bordes redondos */
	box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .7), inset -2px -2px
		3px rgba(0, 0, 0, .1), 2px 2px 10px rgba(0, 0, 0, .1);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .9);
	/* Sombra del texto */
	text-align: center; /* Alineación del texto */
}



@media only screen and (min-width: 601px){
    
}